table {
    border-collapse: separate; 
    border-spacing: 5px;
}

td {
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

td:first-child{
    background-color: #c0c0c0;
}

#mat > td{
    background-color: #c0c0c0;
}

#mat > #void {
    background-color: #ffffff;
}