.dialog-button {

    width: 140px;
    height: 35px;

    font-weight: bold;
    text-transform: uppercase;

    outline: none;
    border: none;

    background-color: transparent;
    border-radius: 8px;

    color: #000;

    cursor: pointer;

    transition: background-color 0.2s linear;

}

.dialog-button:focus {

    background-color: rgba(190, 83, 219, 0.2);

}